:root{
  --background-color: #0F0F0F;
  --text-color: #D9D9D9;
  --font-family: 'Space Grotesk';
}

footer {
  background-color: var(--background-color);
  opacity: 0.9;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 2vh 0;
}

footer p {
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 5px;
  font-size: 16px;
}
footer h3 {
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 5px;
}