:root{
  --background-color: #0F0F0F;
  --text-color: #D9D9D9;
  --font-family: 'Space Grotesk';
}

header {
  background-color: var(--background-color);
  opacity: 0.9;
  align-self: top;
  margin: 0;
  align-items: flex;
  display: flex;
}
header nav {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  padding-right: 5%;
}
header nav a{
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--font-family);
  padding: 15px;
  font-size: 20px;
}