:root{
  --primary-color: #898989;
  --secondary-color: #D9D9D9;
  --background-color: #0F0F0F;
  --text-color: #D9D9D9;
  --font-family: 'Inter, sans-serif';
}

body{
  margin: 0;
  min-height: 100vh;
  background-image: url("../images/Main IMG.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.InfoContent{
  display: flex;
  align-items: center;
  justify-content: space-between; /* left + right edges */
  width: 100%;
  box-sizing: border-box;
  padding: 20px 60px;
}


.InfoCard {
  display: flex;
  background-color: var(--background-color);
  opacity: 0.85;
  margin: 50px 0; /* no auto centering */
  width: 40%;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}


.Contact{
  background-color: var(--background-color);
  opacity: 0.85;
  font-family: var(--font-family);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.Songs{
  display: flex;
  padding-left: 60px;
}

#SongCards{
  display: grid;
  gap: 20px;
}

.SongCard {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  opacity: 0.85;
  width: 90vh;
  text-align: center;
  padding: 5px 20px 20px 20px;
  font-size: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.InfoCard h3 {
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.InfoCard p {
  color: var(--text-color);
  font-family: var(--font-family);
  padding: 20px;
  font-size: 18px;
}