:root{
  --primary-color: #898989;
  --secondary-color: #D9D9D9;
  --background-color: #4F4F4F;
  --text-color: #0F0F0F;
  --font-family: 'Inter, sans-serif';
}

body{
  margin: 0;
  min-height: 100vh;
  background-image: url("../images/Main IMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}