* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #000;
  color: #fff;
}

/*Header*/
.topbar {
  position: static;
  width: 100%;
  z-index: 1;
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 28px 60px;

  background: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(255,255,255,0.08);
}




.logo {
  height: 64px;
  width: auto;
}

.nav a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  margin-left: 28px;
  font-size: 14px;
  letter-spacing: 2.5px;
  opacity: 0.8;
}

.nav a.active {
  opacity: 1;
}

/*Hero*/
.hero {
  position: relative;
  height: 1024px;
  min-height: 720px;
  padding: 120px 80px;
  background-image: url("../contact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*Dark overlay*/
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
}

/*Gradient overlay*/
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.15) 45%,
    rgba(0,0,0,0.75)
  );
}

/*Contact box*/
.contact-box {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 2;
  width: 520px;
  padding: 18px 22px;
  background: rgba(0,0,0,0.55);
  border: 1px solid rgba(255,255,255,0.12);
  font-size: 13px;
  line-height: 1.5;
}

.contact-box p {
  margin: 0 0 12px;
}

.details {
  margin-top: 16px;
  font-size: 12px;
}

/*Footer*/
.footer {
  background: rgba(0,0,0,0.92);
  padding: 32px 16px 38px;
  text-align: center;
}

.footer-title {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

.footer-text {
  font-size: 12px;
  line-height: 1.6;
  margin-bottom: 18px;
  opacity: 0.85;
}

.footer-logo {
  height: 44px;
}

/*Puhelimelle*/
@media (max-width: 768px) {
  .topbar {
    padding: 16px;
  }

  .logo {
    height: 28px;
  }

  .hero {
    padding: 90px 16px;
    min-height: 680px;
  }

  .contact-box {
    width: 100%;
  }
}
